#header {
  display: flex;
  justify-content: space-between; /* Aligns items to both ends */
  align-items: center;
}

#headerlogo {
  margin-right: 10px;
}

#headercolor {
  background-color : green;
}

#title {
  padding: 10px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 20px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
